@page
@model AspNetCoreWebApp.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MT1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MT1.MC1Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MT1.MC1Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MT1.MC2Decimal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MT1.MC2Decimal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MT1.MC3Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MT1.MC3Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MT1.MId">Edit</a> |
    <a asp-page="./m_db1_Index">Back to List</a>
</div>
