@page
@model AspNetCoreWebApp.m_db1_Index_Model

@{
    ViewData["Title"] = "m_db1_Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MT1[0].MC1Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MT1[0].MC2Decimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MT1[0].MC3Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MT1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MC1Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC2Decimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC3Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
